mixin slideMenu()
  .menu-line-wrap.slide-menu
    .menu-line
      .head-toggle
        +icon("menu","icon icon-open")
        +icon("close-fat","icon icon-close")
      .slide-menu__list
        ul
          li
            a(href="#").slide-menu__list-el Главная
          li
            a(href="#").slide-menu__list-el О компании
          li
            a(href="#").slide-menu__list-el Продукция и услуги
          li
            a(href="#").slide-menu__list-el Технологии и оборудование
          li
            a(href="#").slide-menu__list-el Технические требования
          li
            a(href="#").slide-menu__list-el Наши клиенты
          li
            a(href="#").slide-menu__list-el Контакты
      a(href="tel:+7 (495) 782 8362").slide-menu-phone +7 (495) 782 8362
      .slide-menu-get Заказать звонок

mixin icon(name,cls)
  svg(class=cls)
    use(xlink:href="#" + name)

mixin checkbox(text,disable)
  .check-el
    if disable
      label.style-label.style-label--checkbox.style-label--disable
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
    else
      label.style-label.style-label--checkbox
        input(type="checkbox").sytle-input
        .sytle-input-element
          +icon("checked","icon-check")
        .sytle-input-text=text
mixin radio(text,group,disable)
  .check-el
    if disable
      label.style-label.style-label--radio.style-label--disable
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text
    else
      label.style-label.style-label--radio
        input(type="radio" name="group").sytle-input
        .sytle-input-element
          .icon-radio
        .sytle-input-text=text

mixin incr(a)
  - a = a || 1
  .elements-icr-block
    .incr
      .incr__minus.incr__nav
        +icon("minus","icon")
      .incr__val
        span=a
        .incr__val-coner
      .incr__plus.incr__nav
        +icon("plus","icon")
